body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

header a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
}

h2 {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    position: fixed;
    bottom: 0;
    width: 100%;
}
